<h2 class="tac">أسعارنا</h2>
<div class="table table_tarifi p20 bshad brad10">
	<table>
		<tbody>
			<tr>
				<th class="tar">الخطة التعريفية</th>
				<th class="tarif tarif1">الخدمات القانونية (Lite)</th>
				<th class="tarif tarif2">الخدمات القانونية (Standard)</th>
				<th class="tarif tarif3">الخدمات القانونية (Combi)</th>
			</tr>
			<tr>
				<td class="tar"> استشارة شفوية أو خطية </td>
				<td> 15 </td>
				<td> 20 </td>
				<td> لا حدود </td>
			</tr>
			<tr>
				<td class="tar"> تطوير استراتيجية الدعاوى في المحاكم </td>
				<td> 0 </td>
				<td> 0 </td>
				<td> 3 </td>
			</tr>
			<tr>
				<td class="tar"> صياغة العقود </td>
				<td> 10 </td>
				<td> 15 </td>
				<td> 20 </td>
			</tr>
			<tr>
				<td class="tar"> تفاوض </td>
				<td> 0 </td>
				<td> 0 </td>
				<td> 10 </td>
			</tr>
			<tr>
				<td class="tar"> الشكاوى والمطالبة بالعمل </td>
				<td> 3 اونلاين </td>
				<td> 3 اونلاين </td>
				<td> 5 اونلاين </td>
			</tr>
			<tr>
				<td class="tar"> التأكد من الطرف المقابل </td>
				<td> 10 </td>
				<td> 15 </td>
				<td> 20 </td>
			</tr>
			<tr>
				<td class="tar"> نماذج المستندات عند الطلب </td>
				<td> 5 </td>
				<td> 10 </td>
				<td> 15 </td>
			</tr>
			<tr>
				<td class="tar"> الاستشارات القانونية مع المحامي </td>
				<td> 0 </td>
				<td> 0 </td>
				<td> 1 </td>
			</tr>
			<tr>
				<td class="tar"> فترة صلاحية التعريف </td>
				<td> 1 شهر </td>
				<td> 1 شهر </td>
				<td> 1 شهر </td>
			</tr>
			<tr>
				<td class="tar"> سعر الخدمات </td>
				<td class="price nowrap"> 300 دولار </td>
				<td class="price nowrap"> 500 دولار </td>
				<td class="price nowrap"> 1000 دولار </td>
			</tr>
		</tbody>
	</table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
	<table>
		<tbody>
			<tr>
				<th class="tarif tarif6 tar">الخطة التعريفية </th>
				<th class="tarif tarif5">التسويق (Lite) </th>
				<th class="tarif tarif4">التسويق (Standard) </th>
				<th>التسويق (Combi) </th>
			</tr>
			<tr>
				<td class="tar"> طلب شفوي أو كتابي لإيجاد مورد للمشتري </td>
				<td> 5 </td>
				<td> 7 </td>
				<td> لا حدود </td>
			</tr>
			<tr>
				<td class="tar"> تطوير العرض التجاري لبيع او شراء المنتجات </td>
				<td> 2 </td>
				<td> 3 </td>
				<td> 7 </td>
			</tr>
			<tr>
				<td class="tar"> صياغة العقود, ترجمة CMR, فاتورة </td>
				<td> 3 </td>
				<td> 5 </td>
				<td> 10 </td>
			</tr>
			<tr>
				<td class="tar"> تفاوض </td>
				<td> 0 </td>
				<td> 0 </td>
				<td> 3 </td>
			</tr>
			<tr>
				<td class="tar"> العمل مع الزبون </td>
				<td> 3 اونلاين </td>
				<td> 3 اونلاين </td>
				<td> 5 اونلاين </td>
			</tr>
			<tr>
				<td class="tar"> التأكد من الطرف المقابل </td>
				<td> 5 </td>
				<td> 7 </td>
				<td> 10 </td>
			</tr>
			<tr>
				<td class="tar"> نماذج المستندات عند الطلب </td>
				<td> 3 </td>
				<td> 5 </td>
				<td> 10 </td>
			</tr>
			<tr>
				<td class="tar"> الاستشارات مع مدير التسويق, المختص بالتجارة الخارجية </td>
				<td> 0 </td>
				<td> 0 </td>
				<td> 1 </td>
			</tr>
			<tr>
				<td class="tar"> فترة صلاحية التعريف </td>
				<td> 1 شهر </td>
				<td> 1 شهر </td>
				<td> 1 شهر </td>
			</tr>
			<tr>
				<td class="tar"> </td>
				<td class="price nowrap"> 300 دولار </td>
				<td class="price nowrap"> 500 دولار </td>
				<td class="price nowrap"> 1000 دولار </td>
			</tr>
		</tbody>
	</table>
</div>

<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
	<table>
		<tbody>
			<tr>
    <tr>
    <th> خطة التعريفة </th>
    <th class="tarif tarif4"> جمارك لايت </ th>
    <th class="tarif tarif5"> معيار الجمارك </ th>
    <th class="tarif tarif6"> جمارك كومبي </ th>
    </tr>
    <tr>
    <td> الحساب الأولي للمعاملة الجمركية (الرسوم ، الضرائب ، خدمات مستودعات التخزين المؤقت ، خدمات التصريح) </ td>
    <td> 1 </td>
    <td> 2 </td>
    <td> 3 </td>
    </tr>
    <tr>
    <td> نسبة أجر تسجيل العبور من خلال كيان قانوني تركي والدفع من خلال بنك تركي إلى أوروبا وأمريكا وأوكرانيا ودول أخرى (يدفعها المشتري عن طريق زيادة الفاتورة بنسبة٪ عند العبور إلى روسيا). بالنسبة للأحجام التي تزيد عن 100000 دولار ، يمكن تخفيض النسبة باتفاق </ td>
    <td> 6٪ </td>
    <td> 6٪ </td>
    <td> 6٪ </td>
    </tr>
    <tr>
    <td> تطوير العقود ، ترجمة CMR ، الفاتورة ، قائمة التعبئة </ td>
    <td> 3 </td>
    <td> 5 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> التفاوض مع سمسار جمركي ، مع المصدر والمستورد وشركة النقل والخدمات اللوجستية </ td>
    <td> 3 </td>
    <td> 5 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> العمل مع المرسل والمستلم وشركة النقل وتقديم جميع الوثائق اللازمة </ td>
    <td> 3 عبر الإنترنت </ td>
    <td> 5 عبر الإنترنت </ td>
    <td> 7 عبر الإنترنت </ td>
    </tr>
    <tr>
    <td> التحقق من نزاهة الموردين / المشترين في تركيا ، شركة نقل </ td>
    <td> 5 </td>
    <td> 7 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> توثيق النماذج عند الطلب </ td>
    <td> 3 </td>
    <td> 5 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> استشارة في التخليص الجمركي ، اختصاصي تجارة خارجية </ td>
    <td> 1 </td>
    <td> 2 </td>
    <td> 3 </td>
    </tr>
    <tr>
    <td> مدة التعريفة </ td>
    <td> شهر واحد </ td>
    <td> شهر واحد </ td>
    <td> شهر واحد </ td>
    </tr>
    <tr>
    <td> تكلفة الصيانة </ td>
    <td class="price nowrap"> 1000 دولار أمريكي </td>
    <td class="price nowrap"> 1800 دولار أمريكي </td>
    <td class="price nowrap"> 2700 دولارًا أمريكيًا </td>
    </tr>
        </tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
	<table>
		<tbody>
			<tr>
    <tr>
    <th> خطة التعريفة </th>
    <th class="tarif tarif4"> LogisticsLite </th>
    <th class="tarif tarif5"> معيار اللوجستيات </ th>
    <th class="tarif tarif6"> LogisticsCombi </th>
    </tr>
    <tr>
    <td> حساب مبدئي لمعدلات شركات النقل حسب البضاعة المصرح عنها </ td>
    <td> 3 </td>
    <td> 5 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> البحث عن شركات لوجستية موثوقة في تركيا </td>
    <td> 3 </td>
    <td> 5 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> تطوير العقود ، ترجمة CMR ، الفاتورة ، قائمة التعبئة </ td>
    <td> 3 </td>
    <td> 5 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> التفاوض مع شركة نقل ، مع مصدر ، مستورد ، ترجمات عبر الإنترنت ، بريد إلكتروني </ td>
    <td> 3 </td>
    <td> 5 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> العمل مع المرسل والمستلم وشركة النقل وتقديم جميع الوثائق اللازمة </ td>
    <td> 3 عبر الإنترنت </ td>
    <td> 5 عبر الإنترنت </ td>
    <td> 10 عبر الإنترنت </ td>
    </tr>
    <tr>
    <td> التحقق من سلامة المورد / المشتري في تركيا </td>
    <td> 5 </td>
    <td> 7 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> استشارة حول الرمز الجمركي للبضائع المنقولة والمستندات اللازمة للنقل </ td>
    <td> 3 </td>
    <td> 5 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> استكمال طلب النقل </ td>
    <td> 3 </td>
    <td> 5 </td>
    <td> 10 </td>
    </tr>
    <tr>
    <td> مدة التعريفة </ td>
    <td> شهر واحد </ td>
    <td> شهر واحد </ td>
    <td> شهر واحد </ td>
    </tr>
    <tr>
    <td> تكلفة الصيانة </ td>
    <td class="price nowrap"> 300 دولار أمريكي </td>
    <td class="price nowrap"> 500 دولار أمريكي </td>
    <td class="price nowrap"> 1000 دولار أمريكي </td>
    </tr>
    </tbody>
    </table>
</div>
