<h2 class="tac">Our tariffs</h2>
<div class="table table_tarifi p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Our tariffs</th>
    			<th class="tarif tarif1">JurLight</th>
    			<th class="tarif tarif2">JurStandard</th>
    			<th class="tarif tarif3">JurCombi</th>
    		</tr>
    		<tr>
    			<td>Oral or written consultation</td>
    			<td>15</td>
    			<td>20</td>
    			<td>No limits</td>
    		</tr>
    		<tr>
    			<td>Development of a strategy for litigation</td>
    			<td>0</td>
    			<td>0</td>
    			<td>3</td>
    		</tr>
    		<tr>
    			<td>Development of contracts</td>
    			<td>10</td>
    			<td>15</td>
    			<td>20</td>
    		</tr>
    		<tr>
    			<td>Conducting negotiations</td>
    			<td>0</td>
    			<td>0</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Claim work</td>
    			<td>3 online</td>
    			<td>3 online</td>
    			<td>5 online</td>
    		</tr>
    		<tr>
    			<td>Checking the integrity of <br/>counterparties</td>
    			<td>10</td>
    			<td>15</td>
    			<td>20</td>
    		</tr>
    		<tr>
    			<td>Forms of documents on request</td>
    			<td>5</td>
    			<td>10</td>
    			<td>15</td>
    		</tr>
    		<tr>
    			<td>Legal consultation</td>
    			<td>0</td>
    			<td>0</td>
    			<td>1</td>
    		</tr>
    		<tr>
    			<td>Validity period of tariff</td>
    			<td>1 month</td>
    			<td>1 month</td>
    			<td>1 month</td>
    		</tr>
    		<tr>
    			<td>Cost of service</td>
    			<td class="price nowrap">300 USD</td>
    			<td class="price nowrap">500 USD</td>
    			<td class="price nowrap">1000 USD</td>
    		</tr>
    	</tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Tariff plan</th>
    			<th class="tarif tarif4">MarketLight</th>
    			<th class="tarif tarif5">MarketStandard</th>
    			<th class="tarif tarif6">MarketCombi</th>
    		</tr>
    		<tr>
    			<td>Oral or written request to find a supplier, buyer</td>
    			<td>5</td>
    			<td>7</td>
    			<td>No limits</td>
    		</tr>
    		<tr>
    			<td>Development of applications for the purchase or sale of products</td>
    			<td>2</td>
    			<td>3</td>
    			<td>7</td>
    		</tr>
    		<tr>
    			<td>Contract development, CMR translation, Invoice</td>
    			<td>3</td>
    			<td>5</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Conducting negotiations</td>
    			<td>0</td>
    			<td>0</td>
    			<td>3</td>
    		</tr>
    		<tr>
    			<td>Customer service</td>
    			<td>3 online</td>
    			<td>3 online</td>
    			<td>5 online</td>
    		</tr>
    		<tr>
    			<td>Checking the integrity of suppliers/buyers</td>
    			<td>5</td>
    			<td>7</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Forms of documents on request</td>
    			<td>3</td>
    			<td>5</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Sales manager, foreign trade specialist consultation</td>
    			<td>0</td>
    			<td>0</td>
    			<td>1</td>
    		</tr>
    		<tr>
    			<td>Validity period of tariff</td>
    			<td>1 month</td>
    			<td>1 month</td>
    			<td>1 month</td>
    		</tr>
    		<tr>
    			<td>Cost of service</td>
    			<td class="price nowrap">300 USD</td>
    			<td class="price nowrap">500 USD</td>
    			<td class="price nowrap">1000 USD</td>
    		</tr>
    	</tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    <body>
    <tr>
    <th>Tariff plan</th>
    <th class="tarif tarif4">CustomsLite</th>
    <th class="tarif tarif5">CustomsStandard</th>
    <th class="tarif tarif6">CustomsCombi</th>
    </tr>
    <tr>
    <td> Preliminary calculation of the customs transaction (duty, taxes, temporary storage warehouse services, declaration services) </td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    </tr>
    <tr>
    <td> Percentage of remuneration for registration of transit through a Turkish legal entity and payment through a Turkish bank to Europe, America, Ukraine and other countries (paid by the buyer by increasing the invoice by % when transiting to Russia). For volumes over $ 100,000, the percentage can be reduced by agreement </td>
    <td>6%</td>
    <td>6%</td>
    <td>6%</td>
    </tr>
    <tr>
    <td> Development of contracts, translation of CMR, Invoice, packing list </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Negotiating with a customs broker, with an exporter, importer, transport and logistics company </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Working with the sender, recipient, transport company, providing all necessary documentation </td>
    <td>3 online</td>
    <td>5 online</td>
    <td>7 online</td>
    </tr>
    <tr>
    <td> Checking the integrity of Suppliers / Buyers in Turkey, a transport company </td>
    <td>5</td>
    <td>7</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Document Forms on Demand </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Consulting on customs clearance, foreign trade specialist </td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    </tr>
    <tr>
    <td> Tariff duration </td>
    <td> 1 month</td>
    <td> 1 month</td>
    <td> 1 month</td>
    </tr>
    <tr>
    <td> Maintenance cost </td>
    <td class="price nowrap">1000 USD</td>
	<td class="price nowrap">1800 USD</td>
	<td class="price nowrap">2700 USD</td>
    </tr>
        </tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    <body>
    <tr>
    <th>Tariff plan</th>
    <th class="tarif tarif4">LogisticsLite</th>
    <th class="tarif tarif5">LogisticsStandard</th>
    <th class="tarif tarif6">LogisticsCombi</th>
    </tr>
    <tr>
    <td> Preliminary calculation of the rates of transport companies according to the declared cargo </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Finding reliable logistics companies in Turkey</td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Development of contracts, translation of CMR, Invoice, packing list </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Negotiating with a transport company, with an exporter, importer, online translations, e-mail </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Working with the sender, recipient, transport company, providing all necessary documentation </td>
    <td>3 online</td>
    <td>5 online</td>
    <td> 10 online </td>
    </tr>
    <tr>
    <td> Supplier/Buyer Integrity Check in Turkey</td>
    <td>5</td>
    <td>7</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Consultation on the customs code of the transported cargo and the necessary documents for transportation </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Completing an application for transportation </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Tariff duration </td>
    <td> 1 month</td>
    <td> 1 month</td>
    <td> 1 month</td>
    </tr>
    <tr>
    <td> Maintenance cost </td>
    <td class="price nowrap">300 USD</td>
	<td class="price nowrap">500 USD</td>
	<td class="price nowrap">1000 USD</td>
    </tr>
    </tbody>
    </table>
</div>
