<h2 class="tac">Nos tarifs</h2>
<div class="table table_tarifi p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Plan tarifaire</th>
    			<th class="tarif tarif1">JurLight</th>
    			<th class="tarif tarif2">JurStandard</th>
    			<th class="tarif tarif3">JurCombi</th>
    		</tr>
    		<tr>
    			<td>Consultation orale ou écrite</td>
    			<td>15</td>
    			<td>20</td>
    			<td>Sans frontières</td>
    		</tr>
    		<tr>
    			<td>Elaboration d'une stratégie contentieuse</td>
    			<td>0</td>
    			<td>0</td>
    			<td>3</td>
    		</tr>
    		<tr>
    			<td>Développement de contrats</td>
    			<td>10</td>
    			<td>15</td>
    			<td>20</td>
    		</tr>
    		<tr>
    			<td>Négociation</td>
    			<td>0</td>
    			<td>0</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Réclamer des travaux</td>
    			<td>3 en ligne</td>
    			<td>3 en ligne</td>
    			<td>5 en ligne</td>
    		</tr>
    		<tr>
    			<td>Vérifications nécessaires<br/>contreparties</td>
    			<td>10</td>
    			<td>15</td>
    			<td>20</td>
    		</tr>
    		<tr>
    			<td>Formes de documents sur demande</td>
    			<td>5</td>
    			<td>10</td>
    			<td>15</td>
    		</tr>
    		<tr>
    			<td>Conseil d'avocat</td>
    			<td>0</td>
    			<td>0</td>
    			<td>1</td>
    		</tr>
    		<tr>
    			<td>Période de validité du tarif</td>
    			<td>1 mois</td>
    			<td>1 mois</td>
    			<td>1 mois</td>
    		</tr>
    		<tr>
    			<td>Coût de maintenance</td>
    			<td class="price nowrap">300 USD</td>
    			<td class="price nowrap">500 USD</td>
    			<td class="price nowrap">1000 USD</td>
    		</tr>
    	</tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Plan tarifaire</th>
    			<th class="tarif tarif4">MarketLight</th>
    			<th class="tarif tarif5">MarketStandard</th>
    			<th class="tarif tarif6">MarketCombi</th>
    		</tr>
    		<tr>
    			<td>Demande orale ou écrite de recherche d'un Fournisseur, Acheteur</td>
    			<td>5</td>
    			<td>7</td>
    			<td>Sans frontières</td>
    		</tr>
    		<tr>
    			<td>Développement d'applications pour l'achat ou la vente de produits</td>
    			<td>2</td>
    			<td>3</td>
    			<td>7</td>
    		</tr>
    		<tr>
    			<td>Elaboration de contrats, traduction de CMR, Facture</td>
    			<td>3</td>
    			<td>5</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Négociation</td>
    			<td>0</td>
    			<td>0</td>
    			<td>3</td>
    		</tr>
    		<tr>
    			<td>Travailler avec les clients</td>
    			<td>3 en ligne</td>
    			<td>3 en ligne</td>
    			<td>5 en ligne</td>
    		</tr>
    		<tr>
    			<td>Vérification de l'intégrité des Fournisseurs / Acheteurs</td>
    			<td>5</td>
    			<td>7</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Formes de documents sur demande</td>
    			<td>3</td>
    			<td>5</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Responsable commercial conseil, spécialiste du commerce extérieur</td>
    			<td>0</td>
    			<td>0</td>
    			<td>1</td>
    		</tr>
    		<tr>
    			<td>Période de validité du tarif</td>
    			<td>1 mois</td>
    			<td>1 mois</td>
    			<td>1 mois</td>
    		</tr>
    		<tr>
    			<td>Coût de maintenance</td>
    			<td class="price nowrap">300 USD</td>
    			<td class="price nowrap">500 USD</td>
    			<td class="price nowrap">1000 USD</td>
    		</tr>
    	</tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Plan tarifaire</th>
    			<th class="tarif tarif4">CustomsLight</th>
    			<th class="tarif tarif5">CustomsStandard</th>
    			<th class="tarif tarif6">CustomsCombi</th>
    		</tr>
    		<tr>
    			<td> Calcul préliminaire de l'opération douanière (droits, taxes, services d'entrepôt de stockage temporaire, services de déclaration)</td>
    			<td> 1 </td>
    			<td> 2 </td>
    			<td> 3 </td>
    		</tr>
    		<tr>
    			<td> Pourcentage de rémunération pour l'enregistrement du transit par une entité juridique turque et le paiement par une banque turque vers l'Europe, l'Amérique, l'Ukraine et d'autres pays (payé par l'acheteur en augmentant la facture de % lors du transit vers la Russie). Pour les volumes supérieurs à 100 000 $, le pourcentage peut être réduit par entente </td>
    			<td> 6% </td>
    			<td> 6% </td>
    			<td> 6% </td>
    		</tr>
    		<tr>
    			<td> Élaboration de contrats, traduction de CMR, Facture, liste de colisage </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Négocier avec un commissionnaire en douane, avec un exportateur, un importateur, une entreprise de transport et de logistique </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Travailler avec l'expéditeur, le destinataire, la société de transport, en fournissant toute la documentation nécessaire </td>
    			<td> 3 en ligne </td>
    			<td> 5 en ligne </td>
    			<td> 7 en ligne </td>
    		</tr>
    		<tr>
    			<td> Vérification de l'intégrité des Fournisseurs / Acheteurs en Turquie, une société de transport </td>
    			<td> 5 </td>
    			<td> 7 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Formes de documents sur demande </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Conseil en dédouanement, spécialiste du commerce extérieur </td>
    			<td> 1 </td>
    			<td> 2 </td>
    			<td> 3 </td>
    		</tr>
    		<tr>
    			<td> Période de validité du tarif </td>
    			<td> 1 mois </td>
    			<td> 1 mois </td>
    			<td> 1 mois </td>
    		</tr>
    		<tr>
    			<td> Coût de maintenance </td>
    			<td> <strong>1000 USD</strong> </td>
    			<td> <strong>1800 USD</strong> </td>
    			<td> <strong>2700 USD</strong> </td>
    		</tr>
        </tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Plan tarifaire</th>
    			<th class="tarif tarif4">LogisticsLite</th>
    			<th class="tarif tarif5">LogisticsStandard</th>
    			<th class="tarif tarif6">LogisticsCombi</th>
    		</tr>
    		<tr>
    			<td> Calcul préliminaire des tarifs des sociétés de transport en fonction de la cargaison déclarée </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Rechercher des entreprises de logistique de bonne foi en Turquie </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Élaboration de contrats, traduction de CMR, Facture, liste de colisage </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Négociation avec une société de transport, avec un exportateur, importateur, traductions en ligne, e-mail </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Travailler avec l'expéditeur, le destinataire, la société de transport, en fournissant toute la documentation nécessaire </td>
    			<td> 3 en ligne </td>
    			<td> 5 en ligne </td>
    			<td> 10 en ligne </td>
    		</tr>
    		<tr>
    			<td> Vérification de l'intégrité des fournisseurs/acheteurs en Turquie </td>
    			<td> 5 </td>
    			<td> 7 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Consultation sur le code douanier de la marchandise transportée et les documents nécessaires au transport </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Remplir une demande de transport </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Période de validité du tarif </td>
    			<td> 1 mois </td>
    			<td> 1 mois </td>
    			<td> 1 mois </td>
    		</tr>
    		<tr>
    			<td> Coût de maintenance </td>
    			<td> <strong>300 USD</strong> </td>
    			<td> <strong>500 USD</strong> </td>
    			<td> <strong>1000 USD</strong> </td>
    		</tr>
    	</tbody>
    </table>
</div>
