<h2 class="tac">Ücretlerimiz</h2>
<div class="table table_tarifi p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Ücret planı</th>
    			<th class="tarif tarif1">YurLİght</th>
    			<th class="tarif tarif2">YurStandart </th>
    			<th class="tarif tarif3">YurKombi</th>
    		</tr>
    		<tr>
    			<td>Sözlü veya yazılı danışmanlık  </td>
    			<td>15</td>
    			<td>20</td>
    			<td>sınırsız</td>
    		</tr>
    		<tr>
    			<td>Mahkeme davaları ile ilgili strateji hazırlanması </td>
    			<td>0</td>
    			<td>0</td>
    			<td>3</td>
    		</tr>
    		<tr>
    			<td>Sözleşme hazırlanması </td>
    			<td>10</td>
    			<td>15</td>
    			<td>20</td>
    		</tr>
    		<tr>
    			<td>Görüşme sürdürülmesi </td>
    			<td>0</td>
    			<td>0</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Şikayet mektubu-dava çalışmaları </td>
    			<td>Online 3</td>
    			<td>Online 3</td>
    			<td>Online 5</td>
    		</tr>
    		<tr>
    			<td>Partner dürüstlüğü ve gerçekliğinin kontrolü </td>
    			<td>10</td>
    			<td>15</td>
    			<td>20</td>
    		</tr>
    		<tr>
    			<td>Talep olması halinde belge taslakları (kalıpları) </td>
    			<td>5</td>
    			<td>10</td>
    			<td>15</td>
    		</tr>
    		<tr>
    			<td>Avukat danışmanlığı</td>
    			<td>0</td>
    			<td>0</td>
    			<td>1</td>
    		</tr>
    		<tr>
    			<td>Ücret planının geçerlilik süresi </td>
    			<td>1 ay</td>
    			<td>1 ay</td>
    			<td>1 ay</td>
    		</tr>
    		<tr>
    			<td>Hizmet (abonelik) bedeli </td>
    			<td class="price nowrap">300 USD</td>
    			<td class="price nowrap">500 USD</td>
    			<td class="price nowrap">1000 USD</td>
    		</tr>
    	</tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Ücret planı</th>
    			<th class="tarif tarif4">MarketLight </th>
    			<th class="tarif tarif5">MarketStandart</th>
    			<th class="tarif tarif6">MarketKombi</th>
    		</tr>
    		<tr>
    			<td>Satıcı, alıcı bulunması ile ilgili sözlü veya yazılı talep </td>
    			<td>5</td>
    			<td>7</td>
    			<td>sınırsız</td>
    		</tr>
    		<tr>
    			<td>Ürün alımı veya satışı için talep formunun hazırlanması </td>
    			<td>2</td>
    			<td>3</td>
    			<td>7</td>
    		</tr>
    		<tr>
    			<td>Sözleşme hazırlanması, CMR, fatura belgelerinin tercümesi</td>
    			<td>3</td>
    			<td>5</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Görüşme sürdürülmesi </td>
    			<td>0</td>
    			<td>0</td>
    			<td>3</td>
    		</tr>
    		<tr>
    			<td>Müşteri takibi (müşteri ile çalşma)</td>
    			<td>Online 3</td>
    			<td>Online 3</td>
    			<td>Online 5</td>
    		</tr>
    		<tr>
    			<td>Satıcı/Alıcı dürüstlüğünün/ gerçek durumunun kontrolü </td>
    			<td>5</td>
    			<td>7</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Talep olması halinde belge taslakları (kalıpları) </td>
    			<td>3</td>
    			<td>5</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Satış manajeri, dış ticaret uzmanı danışmanlığı </td>
    			<td>0</td>
    			<td>0</td>
    			<td>1</td>
    		</tr>
    		<tr>
    			<td>Ücret planının geçerlilik süresi </td>
    			<td>1 ay</td>
    			<td>1 ay</td>
    			<td>1 ay</td>
    		</tr>
    		<tr>
    			<td>Hizmet (abonelik) bedeli </td>
    			<td class="price nowrap">300 USD</td>
    			<td class="price nowrap">500 USD</td>
    			<td class="price nowrap">1000 USD</td>
    		</tr>
    	</tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    <body>
    <tr>
    <th>tarif planı</th>
    <th class="tarif tarif4">CustomsLite</th>
    <th class="tarif tarif5">Gümrük Standardı</th>
    <th class="tarif tarif6">Gümrük Kombi</th>
    </tr>
    <tr>
    <td> Gümrük işleminin ön hesaplaması (gümrük, vergiler, geçici depolama antrepo hizmetleri, beyanname hizmetleri) </td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    </tr>
    <tr>
    <td> Bir Türk tüzel kişiliği aracılığıyla transit kaydı ve bir Türk bankası aracılığıyla Avrupa, Amerika, Ukrayna ve diğer ülkelere yapılan ödemeler için ücretin yüzdesi (alıcı tarafından Rusya'ya geçerken faturayı % oranında artırarak ödenir). 100.000 ABD Dolarının üzerindeki hacimler için, yüzde anlaşma ile düşürülebilir </td>
    <td>%6</td>
    <td>%6</td>
    <td>%6</td>
    </tr>
    <tr>
    <td> Sözleşmelerin geliştirilmesi, CMR'nin tercümesi, Fatura, çeki listesi </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Bir gümrük müşaviri, bir ihracatçı, ithalatçı, nakliye ve lojistik şirketi ile pazarlık yapmak </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Gönderici, alıcı, nakliye şirketi ile birlikte çalışmak, gerekli tüm belgeleri sağlamak </td>
    <td>3 çevrimiçi</td>
    <td>5 çevrimiçi</td>
    <td>7 çevrimiçi</td>
    </tr>
    <tr>
    <td> Türkiye'de Tedarikçilerin / Alıcıların bütünlüğünü kontrol eden bir nakliye şirketi </td>
    <td>5</td>
    <td>7</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Talep Üzerine Belge Formları </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Gümrükleme konusunda danışmanlık, dış ticaret uzmanı </td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    </tr>
    <tr>
    <td> tarif süresi </td>
    <td> 1 ay</td>
    <td> 1 ay</td>
    <td> 1 ay</td>
    </tr>
    <tr>
    <td> Bakım maliyeti </td>
    <td class="price nowrap">1000 USD</td>
    <td class="price nowrap">1800 USD</td>
    <td class="price nowrap">2700 USD</td>
    </tr>
        </tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    <body>
    <tr>
    <th>tarif planı</th>
    <th class="tarif tarif4">LogisticsLite</th>
    <th class="tarif tarif5">Lojistik Standardı</th>
    <th class="tarif tarif6">LogisticsCombi</th>
    </tr>
    <tr>
    <td> Taşıma şirketlerinin beyan edilen kargoya göre oranlarının ön hesaplaması </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Türkiye'de güvenilir lojistik şirketleri bulmak</td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Sözleşmelerin geliştirilmesi, CMR'nin tercümesi, Fatura, çeki listesi </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Bir nakliye şirketi, ihracatçı, ithalatçı, çevrimiçi çeviriler, e-posta ile pazarlık </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Gönderici, alıcı, nakliye şirketi ile birlikte çalışmak, gerekli tüm belgeleri sağlamak </td>
    <td>3 çevrimiçi</td>
    <td>5 çevrimiçi</td>
    <td> 10 çevrimiçi </td>
    </tr>
    <tr>
    <td> Türkiye'de Tedarikçi/Alıcı Bütünlüğü Kontrolü</td>
    <td>5</td>
    <td>7</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Taşınan yükün gümrük kodu ve nakliye için gerekli belgeler hakkında danışma </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> Ulaşım için başvurunun tamamlanması </td>
    <td>3</td>
    <td>5</td>
    <td>10</td>
    </tr>
    <tr>
    <td> tarif süresi </td>
    <td> 1 ay</td>
    <td> 1 ay</td>
    <td> 1 ay</td>
    </tr>
    <tr>
    <td> Bakım maliyeti </td>
    <td class="price nowrap">300 USD</td>
    <td class="price nowrap">500 USD</td>
    <td class="price nowrap">1000 USD</td>
    </tr>
    </tbody>
    </table>
</div>
