<h2 class="tac">Наши тарифы</h2>
<div class="table table_tarifi p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Тарифный план</th>
    			<th class="tarif tarif1">ЮрЛайт</th>
    			<th class="tarif tarif2">ЮрСтандарт</th>
    			<th class="tarif tarif3">ЮрКомби</th>
    		</tr>
    		<tr>
    			<td>Устная или письменная консультация</td>
    			<td>15</td>
    			<td>20</td>
    			<td>Без ограничений</td>
    		</tr>
    		<tr>
    			<td>Разработка стратегии судебных споров</td>
    			<td>0</td>
    			<td>0</td>
    			<td>3</td>
    		</tr>
    		<tr>
    			<td>Разработка договоров</td>
    			<td>10</td>
    			<td>15</td>
    			<td>20</td>
    		</tr>
    		<tr>
    			<td>Ведение переговоров</td>
    			<td>0</td>
    			<td>0</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Претензионно-исковая работа</td>
    			<td>3 онлайн</td>
    			<td>3 онлайн</td>
    			<td>5 онлайн</td>
    		</tr>
    		<tr>
    			<td>Проверка добросовестности<br/>контрагентов</td>
    			<td>10</td>
    			<td>15</td>
    			<td>20</td>
    		</tr>
    		<tr>
    			<td>Формы документов по запросу</td>
    			<td>5</td>
    			<td>10</td>
    			<td>15</td>
    		</tr>
    		<tr>
    			<td>Консультирование адвоката</td>
    			<td>0</td>
    			<td>0</td>
    			<td>1</td>
    		</tr>
    		<tr>
    			<td>Срок действия тарифа</td>
    			<td>1 месяц</td>
    			<td>1 месяц</td>
    			<td>1 месяц</td>
    		</tr>
    		<tr>
    			<td>Стоимость обслуживания</td>
    			<td class="price nowrap">300 USD</td>
    			<td class="price nowrap">500 USD</td>
    			<td class="price nowrap">1000 USD</td>
    		</tr>
    	</tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Тарифный план</th>
    			<th class="tarif tarif4">МаркетЛайт</th>
    			<th class="tarif tarif5">МаркетСтандарт</th>
    			<th class="tarif tarif6">МаркетКомби</th>
    		</tr>
    		<tr>
    			<td>Устный или письменный запрос по поиску Поставщика, Покупателя</td>
    			<td>5</td>
    			<td>7</td>
    			<td>Без ограничений</td>
    		</tr>
    		<tr>
    			<td>Разработка заявок на покупку или продажу продукции</td>
    			<td>2</td>
    			<td>3</td>
    			<td>7</td>
    		</tr>
    		<tr>
    			<td>Разработка договоров, перевод CMR, Invoice</td>
    			<td>3</td>
    			<td>5</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Ведение переговоров</td>
    			<td>0</td>
    			<td>0</td>
    			<td>3</td>
    		</tr>
    		<tr>
    			<td>Работа с клиентами</td>
    			<td>3 онлайн</td>
    			<td>3 онлайн</td>
    			<td>5 онлайн</td>
    		</tr>
    		<tr>
    			<td>Проверка добросовестности Поставщиков/Покупателей</td>
    			<td>5</td>
    			<td>7</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Формы документов по запросу</td>
    			<td>3</td>
    			<td>5</td>
    			<td>10</td>
    		</tr>
    		<tr>
    			<td>Консультирование менеджера по продажам, специалиста ВЭД</td>
    			<td>0</td>
    			<td>0</td>
    			<td>1</td>
    		</tr>
    		<tr>
    			<td>Срок действия тарифа</td>
    			<td>1 месяц</td>
    			<td>1 месяц</td>
    			<td>1 месяц</td>
    		</tr>
    		<tr>
    			<td>Стоимость обслуживания</td>
    			<td class="price nowrap">300 USD</td>
    			<td class="price nowrap">500 USD</td>
    			<td class="price nowrap">1000 USD</td>
    		</tr>
    	</tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Тарифный план</th>
    			<th class="tarif tarif4">CustomsЛайт</th>
    			<th class="tarif tarif5">CustomsСтандарт</th>
    			<th class="tarif tarif6">CustomsКомби</th>
    		</tr>
    		<tr>
    			<td> Предварительный просчёт таможенной сделки (пошлина, налоги, услуги СВХ, услуги декларирования) </td>
    			<td> 1 </td>
    			<td> 2 </td>
    			<td> 3 </td>
    		</tr>
    		<tr>
    			<td> Процент вознаграждения за оформление транзита через юридическое лицо Турции и оплаты через турецкий банк в Европу, Америку, Украину и др. страны (оплачивается покупателем путём увеличения инвойса на % при транзите в Россию). При обьёмах свыше 100 000 $ процент может быть по договорённости уменьшен </td>
    			<td> 6% </td>
    			<td> 6% </td>
    			<td> 6% </td>
    		</tr>
    		<tr>
    			<td> Разработка договоров, перевод CMR, Invoice, упаковочный лист </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Ведение переговоров c таможенным брокером, с экспортёром, импортёром, транспортно-логистической компанией </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Работа с отправителем, получателем, транспортной компанией, предоставление всей необходимой документации </td>
    			<td> 3 онлайн </td>
    			<td> 5 онлайн </td>
    			<td> 7 онлайн </td>
    		</tr>
    		<tr>
    			<td> Проверка добросовестности Поставщиков/Покупателей в Турции, транспортной компании </td>
    			<td> 5 </td>
    			<td> 7 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Формы документов по запросу </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Консультирование по таможенному оформлению, специалиста ВЭД </td>
    			<td> 1 </td>
    			<td> 2 </td>
    			<td> 3 </td>
    		</tr>
    		<tr>
    			<td> Срок действия тарифа </td>
    			<td> 1 месяц </td>
    			<td> 1 месяц </td>
    			<td> 1 месяц </td>
    		</tr>
    		<tr>
    			<td> Стоимость обслуживания </td>
    			<td class="price nowrap">1000 USD</td>
    			<td class="price nowrap">1800 USD</td>
    			<td class="price nowrap">2700 USD</td>
    		</tr>
        </tbody>
    </table>
</div>
<div class="table table_tarifi mt40 s-mt20 p20 bshad brad10">
    <table>
    	<tbody>
    		<tr>
    			<th>Тарифный план</th>
    			<th class="tarif tarif4">LogisticsЛайт</th>
    			<th class="tarif tarif5">LogisticsСтандарт</th>
    			<th class="tarif tarif6">LogisticsКомби</th>
    		</tr>
    		<tr>
    			<td> Предварительный просчёт ставок транспортных компаний согласно заявленного груза </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Поиск добросовестных логистических компаний на территории Турции </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Разработка договоров, перевод CMR, Invoice, упаковочный лист </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Ведение переговоров c транспортной компанией, с экспортёром, импортёром, переводы онлайн, e-mail </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Работа с отправителем, получателем, транспортной компанией, предоставление всей необходимой документации </td>
    			<td> 3 онлайн </td>
    			<td> 5 онлайн </td>
    			<td> 10 онлайн </td>
    		</tr>
    		<tr>
    			<td> Проверка добросовестности Поставщиков/Покупателей в Турции </td>
    			<td> 5 </td>
    			<td> 7 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Консультация по таможенному коду перевозимого груза и необходимых документов для перевозки </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Заполнение заявки на транспортную перевозку </td>
    			<td> 3 </td>
    			<td> 5 </td>
    			<td> 10 </td>
    		</tr>
    		<tr>
    			<td> Срок действия тарифа </td>
    			<td> 1 месяц </td>
    			<td> 1 месяц </td>
    			<td> 1 месяц </td>
    		</tr>
    		<tr>
    			<td> Стоимость обслуживания </td>
    			<td class="price nowrap">300 USD</td>
    			<td class="price nowrap">500 USD</td>
    			<td class="price nowrap">1000 USD</td>
    		</tr>
    	</tbody>
    </table>
</div>
